.body {
    font-family: 'Cairo', sans-serif;
}

.sec1 {
    margin-top: 40px;
}

.sec1 .register .login {
    /* margin-left: 5%; */
    padding: 20px;
}

.sec1 .register .sign-up {
    margin-left: 470px;
}

.sec1 .register span a {
    text-decoration: none;
    padding: 20px 40px;
    color: rgb(107, 5, 5);
    border: 1px solid rgb(107, 5, 5);
}

.sec1 .register span a:hover {
    background-color: rgb(107, 5, 5);
    color: rgb(231, 164, 20);
    border: 1px solid rgb(231, 164, 20);
}


/* sectio2 img */

.sec2 {
    /* background-color: rgb(255, 248, 248); */
    width: 100%;
    height: 500px;
    position: relative;
}

.sec2 .img-log {
    /* animation-delay: 1s; */
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.sec2 .img-log img {
    width: 40%;
    float: right;
    height: 500px;
    margin-right: 50px;
    margin-top: 50px;
    border-radius: 50%;
}

.sec2 .form {
    width: 50%;
    height: 500px;
    position: absolute;
    margin-top: 40px;
    margin-left: 50px;
    /* animation-delay: 1s; */
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.sec2 .form a {
    margin-right: 30%;
}

.sec2 .form img {
    /* margin-left: 30%; */
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.sec2 .form input {
    width: 70%;
    height: 40px;
    margin-top: 20px;
    margin-left: 50px;
    border: 0;
    outline: 0;
    border-bottom: 1px solid rgb(107, 5, 5);
    text-align: right;
    padding-right: 20px;
}

.sec2 .form .checkbox {
    width: 15px;
    height: 15px;
    color: rgb(107, 5, 5);
}

.sec2 .form button {
    width: 120px;
    height: 50px;
    background: rgb(107, 5, 5);
    color: rgb(231, 164, 20);
    outline: 0;
    border: 1px solid rgb(231, 164, 20);
    margin-left: 30%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.sec2 .form a {
    margin-left: 30%;
    text-decoration: none;
}


/* section 3 */

.sec3 {
    width: 80%;
    height: 330px;
    margin-top: 200px;
    background-color: rgb(231, 227, 227);
    margin-left: 130px;
    margin-bottom: 100px;
}

.sec3 .seasat {
    /* border: 1px dotted rgb(107, 5, 5); */
    width: 510px;
    height: 320px;
    text-shadow: rgb(107, 5, 5);
    background-color: rgb(252, 238, 238);
    margin: 5px;
}

.sec3 .seasat h5 {
    text-align: right;
    margin-right: 20px;
    padding-top: 10px;
}

.sec3 .seasat ol {
    /* float: right; */
}

.sec3 .seasat ol li {
    text-align: right;
    margin-right: 20px;
    list-style: none;
}